## Базовая практика по pandas

In [1]:
import pandas as pd

Задача: Создай DataFrame с колонками 'Имя', 'Возраст', 'Город' и добавь 5 строк. Выведи первые 3 строки.

In [6]:
df = pd.DataFrame([
    ['Alex', 'Moscow', '22'], 
    ['Sam', 'Boston', '12'], 
    ['Sally', 'London', '28'], 
    ['Juna', 'Deli', '42'], 
    ['Uldar', 'Astana', '65']], columns=['Имя', 'Город', 'Возраст'])

df[:3]

     Имя   Город Возраст
0   Alex  Moscow      22
1    Sam  Boston      12
2  Sally  London      28

Задача: Дан DataFrame с товарами: 'Название', 'Цена', 'Количество'. Отфильтруй товары дороже 4000 рублей.

In [8]:
df = pd.DataFrame({
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones'],
    'Price': [45000, 1500, 3000, 25000, 5000],
    'Quantity': [10, 50, 30, 15, 25]})

df[df['Price'] > 4000]

      Product  Price  Quantity
0      Laptop  45000        10
3     Monitor  25000        15
4  Headphones   5000        25

Задача: В DataFrame с продажами есть колонки 'Город', 'Сумма_продажи'. Посчитай общую сумму продаж по каждому городу.

In [ ]:
df = pd.DataFrame({
    'City': ['Moscow', 'SPb', 'Moscow', 'Kazan', 'SPb', 'Moscow', 'Novosibirsk'],
    'Sale_Amount': [15000, 8000, 22000, 12000, 9000, 18000, 7000]})

df.groupby('City')['Sale_Amount'].sum()

[('Kazan',
      City  Sale_Amount
  3  Kazan        12000),
 ('Moscow',
       City  Sale_Amount
  0  Moscow        15000
  2  Moscow        22000
  5  Moscow        18000),
 ('Novosibirsk',
            City  Sale_Amount
  6  Novosibirsk         7000),
 ('SPb',
    City  Sale_Amount
  1  SPb         8000
  4  SPb         9000)]